@media (min-width: 375px) {
    /* MOBILE */

    body{
      font-family: 'Poppins', sans-serif;
      margin: 0; 
      /* Este margin se cambio a cero, revisar cambios */
    }

    .nav-bar{
      overflow: hidden;
      position: relative;
    }

    .hidden {
      display: none;
    }

    .nav-bar a {
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      color: white;
      text-align: center;
    }

    .nav-bar a.icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      color: grey;
    }

    .nav-bar svg:focus{
      background-color: none;
    }

    .nav-bar a:hover {
      color: black;
    }

    .hr-nav {
      width: 85%;
    }

    .active {
      color: black;
    }

    .nav-bar_right {
      background-color: #3a3053;
      border-radius: 11px 11px 11px 11px;
    }

    .btn-start {
      padding: 3% 7%;
      background-color: #2bd1d1;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      display: block;
      color: white;
      border-radius: 96px 96px 96px 96px;
      text-align: center;
      align-content: center;
      border: none;
      display:flex;
      justify-content: center;
    }

    .btn-sign {
      margin-left: 6%; 
      padding: 3% 35%;
    }

    .section-one{
      display:flex;
      justify-content: center;
    }
      
        
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    .container-image{
      overflow: hidden;
      width: 100vw;
    }

    .image-one{
      margin-left: 15px;
      width: auto;
      height: 345px;
      margin-top: 20px;
      
    }


    .title {
      font-size: 270%;
      text-align: center;
      align-content: center;
      color: #2A2A28;
      padding:10px;
      margin-block-end: 0em;
      /*color: Gray:hsl(0, 0%, 75%);*/
    }

    .sub-title{
      font-size: 117%;
      text-align: center;
      color:rgb(158, 156, 156);
      font-weight: normal;
      padding:10px;
      margin-block-start: 0em;      
    }

    .btn-get{
      padding: 7px 10px 7px 10px;
    }

    .link-here {
      width: 80%;
      padding: 25px 10px 25px 10px;
      background-image: url(images/bg-shorten-mobile.svg);
      background-position: top right;
      background-repeat: no-repeat;
      background-color: #342a48;
      border-radius: 10px;
      position:relative;
      text-align: center;
      bottom: -46px;
      left: 50%;
      transform: translateX(-50%);
    }

    .inner-div{
      display: flex;
      flex-direction: column;
      margin: 0px 5px;
      align-items: center;
    }

    .link-here button{
      border-radius: 5px;
      margin-top: 20px;
      padding:10px 85px;
    }

    #link{
      padding:10px 95px 10px 0px;
      font-family: 'Poppins', sans-serif;
      border-radius: 5px;
      text-align: center;
    }

    #one-result{
      padding: 25px 10px 25px 10px;
      background: cornflowerblue;
      margin: 30px;
    }

    #one-result:nth-child(1) {
      color: black;
      margin: 50px;
    }

    .p-link {
      color: black;
    }

    .p-link1 {
      color: #2bd1d1;
    }
    /**/ 

    .div-advan {
      text-align: center;
      padding-top: 80px;
      margin-top: -40px;
      margin-bottom: 80px;
    }

    .results{
      margin-block-start: 200px;
    }

    

    .one-result{
      padding: 15px 20px;
      background: white;
    }

    #cards {
      background-color: #eeeff4;
      display: flex;
      flex-direction: column;
      padding-bottom: 25%;
    }

    .circle-card{
      display: flex;
      border-radius: 100%;
      background-color: #342a48;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: -20px;
    }

    .one-card {
      margin: 0px 20px;
      padding: 40px 10px 20px 10px;
      background-color: white;
      border-radius: 10px;
      position:relative;
      text-align: center;
      margin-bottom: -20px;
    }

    h4 {
      color: grey;
    }

    .vertical-line {
      width: 5px;
      min-height: 65px;
      background: #00caca;
    }

    #get-started {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20% 20px;
      margin-left: 0px; 
      background-image: url(images/bg-boost-mobile.svg);
      background-size: cover;
      background-color: hsl(257, 27%, 26%)
    }

    #footer {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20% 20px;
      margin-left: 0px; 
      background-color: hsl(260, 8%, 14%)
    }

    .bottom-menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10% 20px;
      margin-left: 0px; 
      background-color: hsl(260, 8%, 14%);
      color: hsl(0, 0%, 75%);
    }

    .bottom-menu span {
      padding-bottom: 10px;
    }

    .bottom-menu span:nth-child(1) {
      color: white;
    }

    #social-media-icons img{
      padding: 0px 10px;
    }
}

@media (min-width: 1000px) {
    /*  DESKTOP  */

    .nav-bar a.icon {
      display: inline-block;
    }

    .nav-bar_right {
      background-color: white;
      border-radius: 11px 11px 11px 11px;
    }

    .nav-bar a {
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: inline-block;
      color: grey;
      text-align: center;
    }

    .hr-nav {
      width: 30%;
      color: white;
    }

    .btn-sign {
      margin-left: 6%; 
      padding: 1% 2%;
    }

    #btn-sign:hover {
      background-color: #80deea;
    }

    .call-action{
      display: flex;
      flex-direction: row-reverse;
    }

    .image-one{
      width: auto;
      height: 435px;
      margin-top: 20px;
    }

    .title{
      text-align: left;
      font-size: 60px;
    }

    .sub-title{
      text-align: left;
      font-size:20px;
    }

    .btn-get{
      align-content: left;
    }

    .link-here {
      width: 80%;
      padding: 35px 10px;
      background-image: url(images/bg-shorten-desktop.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-color: #342a48;
      border-radius: 10px;
      position:relative;
      text-align: center;
      bottom: -46px;
      left: 50%;
      transform: translateX(-50%);
    }

    .inner-div form{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0px 30px;
    }

    .link-here input{
      padding: 0px 225px;
      font-family: 'Poppins', sans-serif;
      border-radius: 10px;
    }

    .link-here button{
      border-radius: 10px;
      margin-block-start: 0em;
      padding:15px 20px;
      font-size: 17px
    }

    .link-here button:active{
      border-radius: 10px;
      margin-block-start: 0em;
      padding:15px 20px;
      font-size: 17px
    }

    #cards {
      display: flex;
      flex-direction: column;
      padding-bottom: 15%;
      padding-top: 75px;
    }

    .div-advan h1{
      font-size: 45px ;
    }
    .div-advan h4{
      font-size: 20px;
      padding: 0px 400px;
    }

    .circle-card{
      left: 20%;
    }

    .one-card {
      padding: 40px 20px 20px 20px;
      text-align: left;
      height: 200px;
    }

    .vertical-line {
      width: 20px;
      height: 1px;
      background: #00caca;
    }

    .direction-card {
      display: flex;
      flex-direction: row;
      position: relative;
    }
    /* Card 1 */
    .one-card:nth-child(1){
      margin-top: 0px;
    }

    /* Linea 1 */
    .vertical-line:nth-child(2){ 
      margin-top: 100px;
    }

    /* Card 2 */
    .one-card:nth-child(3){
      margin-top: 50px;
    }

    /* Linea 2 */
    .vertical-line:nth-child(4){
      margin-top: 100px;
    }

     /* Card 3 */
    .one-card:nth-child(5){
      margin-top: 100px;
    }

    #get-started {
      padding: 5% 20px;
      background-image: url(images/bg-boost-desktop.svg);
    }

    #get-started h1 {
      font-size: 2.5rem;
    }

    #get-started .btn-start {
      border-radius: 96px;
      padding: 15px 40px;
    }

    #footer {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      padding: 55px;
    }

    .bottom-menu{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 20px;
    }

    .bottom-menu span:nth-child(1) {
      padding-top: 0;
    }
    
}